body {
    background: #FAFAFA;
    font-family: lato, Georgia, sans-serif;
    font-style: normal;
    margin: 0px;
}

header {
    background: #F5F5DC;
    padding-top: 5%;
    padding-bottom: 5%;
    display: block;
    text-align: center;
}

nav {
    display: block;
    text-align: center;
}

footer {
    background: #F5F5DC;
    padding-top: 5%;
    padding-bottom: 5%;
    display: block;
    text-align: center;
}

section {
    background: #F5F5DC;
    padding-top: 0.5%;
    padding-bottom: 0.5%; 
}

h1 {
    color: #8B5A2B;
    font-family: Merriweather, serif;
    font-style: normal;
    text-align: center;
}

a {
    color: #0e0e0e;
    text-decoration: none;
    font-style: italic;
}
a:hover {
    color: #ffffff;
    border: #8B5A2B;
    border-radius: 20%;
    background-color:#8B5A2B;
    font-size: 125%;
}

div {

}

span {
    
}
br {
    color: #e0e0e0;
}