body {
    background : rgb(33, 75, 92);
    color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2%;
    
}

h1 {
    color: rgb(200, 200, 55);
    text-align: center;
}

h2 {
    text-align: center;
    color: gray;
    border: white;
    border-radius: 2%;
}

p {
    color: darkgray;
    font-size: 15px;
}

a {
    color: rgb(200, 200, 55);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: 2%;
    margin-bottom: 10px;
    max-width: 300px;
    width: 100%;
}